#include "Pods/Target Support Files/Pods-Common-MobileTokenDebug/Pods-Common-MobileTokenDebug.debugcarrenedev.xcconfig"

URL_ENDPOINT=192.168.1.32

URL_PORT=80

URL_SCHEME=http

INITIAL_TOKEN=eyJhbGciOiJIUzI1NiIsImlhdCI6MTU2MDkyNjQ3MSwiZXhwIjoxNTYxMjkzMTM3fQ.e30.Wc3XdwDGlRB_udcX-WZcuW2EMfuZLkNWMe11Ns-jkCs

SELF_SIGNED=YES

VERSION=1
