#include "Pods/Target Support Files/Pods-MobileToken/Pods-MobileToken.releasecarrenedev.xcconfig"

URL_ENDPOINT = https:\/\/192.168.1.57

URL_PORT = 443

INITIAL_TOKEN = eyJhbGciOiJIUzI1NiIsImlhdCI6MTU0ODQ4NDU4NywiZXhwIjoxNTUxMDc2NTg3fQ.eyJwbGF0Zm9ybSI6IkFuZHJvaWQiLCJ2ZXJzaW9uIjoiMC41LjAtYTEiLCJpbml0aWFsIjp0cnVlfQ.O7tUMgHEiQcEar_q0p5m0H1hft8KFyrF9IeTaseoyNM
