#include "Pods/Target Support Files/Pods-MobileToken/Pods-MobileToken.releasecarrenedev.xcconfig"

URL_ENDPOINT=192.168.1.57

URL_PORT=443

URL_SCHEME=https

INITIAL_TOKEN=eyJhbGciOiJIUzI1NiIsImlhdCI6MTU1MTUxNDcxMSwiZXhwIjoxNTgzMDUwNzExfQ.e30.ADtee1TdleNE-u4fvd1JiM_pp-DdEQ2LBsYXS9di5LI
SELF_SIGNED = YES

VERSION=1

