#include "Pods/Target Support Files/Pods-Common-MobileToken/Pods-Common-MobileToken.releasecarrenedev.xcconfig"

URL_ENDPOINT=192.168.222.40

URL_PORT=81

URL_SCHEME=http

INITIAL_TOKEN=eyJhbGciOiJIUzI1NiIsImlhdCI6MTU1NTE1MjgwOCwiZXhwIjoxNTg2Njg4ODA4fQ.e30.B57qgqMYn3KLNtObtw1S3qzClXMn2sm_2qeosf110xQ
SELF_SIGNED = YES

VERSION=1

