#include "Pods/Target Support Files/Pods-MobileToken/Pods-MobileToken.releaseiscop.xcconfig"

URL_ENDPOINT = raaz.isc.co.ir

URL_PORT = 443

URL_SCHEME = https

INITIAL_TOKEN = eyJhbGciOiJIUzI1NiIsImlhdCI6MTU1MTYxMDM2MywiZXhwIjoxNTU0Mjg4NzYzfQ.eyJwbGF0Zm9ybSI6ImlPUyIsInZlcnNpb24iOiIwLjEuMCIsImluaXRpYWwiOnRydWV9.KtMtBsiupyXWdPlsNYxxZw-snRlUcZ1C39eoKcv-yoY

SELF_SIGNED = NO

VERSION = 1
