#include "Pods/Target Support Files/Pods-MobileToken/Pods-MobileToken.debugiscop.xcconfig"

URL_ENDPOINT = raaz.isc.co.ir

URL_PORT = 443

URL_SCHEME = https

INITIAL_TOKEN = eyJhbGciOiJIUzI1NiIsImlhdCI6MTU1MTc5MjkwNywiZXhwIjoxNzA5NDcyOTA3fQ.eyJwbGF0Zm9ybSI6ImlPUyIsInZlcnNpb24iOiIxLjAuMC1yYyIsImluaXRpYWwiOnRydWV9.k2u9nk3Tu8IUd5gbAJsPB5-YuGIqCqBFpyWvJIVBTi8

SELF_SIGNED = NO

VERSION = 1
