#include "Pods/Target Support Files/Pods-Common-MobileToken/Pods-Common-MobileToken.releaseiscop.xcconfig"

URL_ENDPOINT = raaz.isc.co.ir

URL_PORT = 443

URL_SCHEME = https

INITIAL_TOKEN = eyJhbGciOiJIUzI1NiIsImlhdCI6MTU1OTA0MjQxMywiZXhwIjoxNzE2NzIyNDEzfQ.eyJwbGF0Zm9ybSI6ImlPUyIsInZlcnNpb24iOiIxLjAuMyIsImluaXRpYWwiOnRydWV9.15XswDlMtVF_KCtpscdTbAcajtExnj_mxq_cB-u_4Bc

SELF_SIGNED = NO

VERSION = 1
