#include "Pods/Target Support Files/Pods-Common-MobileTokenDebug/Pods-Common-MobileTokenDebug.debugiscop.xcconfig"

URL_ENDPOINT = raaz.isc.co.ir

URL_PORT = 443

URL_SCHEME = https

INITIAL_TOKEN = eyJhbGciOiJIUzI1NiIsImlhdCI6MTU2NDQ4OTk1MywiZXhwIjoxNzIyMTY5OTUzfQ.eyJwbGF0Zm9ybSI6ImlPUyIsInZlcnNpb24iOiIxLjIuMCIsImluaXRpYWwiOnRydWV9.ZyJGcjHfBsLi2L-pH9KvjifQPEBioTVBXIlOq0QDsiI

SELF_SIGNED = NO

VERSION = 1
