#include "Pods/Target Support Files/Pods-Common-MobileTokenDebug/Pods-Common-MobileTokenDebug.debugiscop.xcconfig"

URL_ENDPOINT = raaz.isc.co.ir

URL_PORT = 443

URL_SCHEME = https

INITIAL_TOKEN = eyJhbGciOiJIUzI1NiIsImlhdCI6MTU1Nzk4Mjg4MiwiZXhwIjoxNzE1NjYyODgyfQ.eyJwbGF0Zm9ybSI6ImlPUyIsInZlcnNpb24iOiIxLjAuMSIsImluaXRpYWwiOnRydWV9.omVzjPOiB9sZy9oCIV0l2aVxmr1q7TASFuC5Wf4Ew8w

SELF_SIGNED = NO

VERSION = 1
