#include "Pods/Target Support Files/Pods-MobileToken/Pods-MobileToken.releaseiscop.xcconfig"

URL_ENDPOINT = https:\/\/raaz.isc.co.ir

URL_PORT = 443

INITIAL_TOKEN = eyJhbGciOiJIUzI1NiIsImlhdCI6MTU0OTE5NDAxNSwiZXhwIjoxNTgwNzMwMDE1fQ.eyJwbGF0Zm9ybSI6IkFuZHJvaWQiLCJ2ZXJzaW9uIjoiMS4xLjAtcmMiLCJpbml0aWFsIjp0cnVlfQ.j3D02kIrh_PPzfYOUZB4h-2bJxIkqrFgv6mI2KibRVM
